<!DOCTYPE html>
<html>
<head>
    <title>ADD QUESTION</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/cssFiles/studentRegistration.css"> -->
    <link rel="stylesheet" href="/cssFiles/adminPage.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="images/Tribe-Logo.jpg" alt="myLogo" id="top-logo"></a>
        <div class="mynavbar">
            <a href="/logout">Logout</a>
            <a href="/adminLandoverPage">View results</a>       
            <div class="mydropdown">
                <button class="mydropbtn">Add 
                </button>
                <div class="mydropdown-content">
                    <a href="/addtest">Test</a>
                    <a href="/addQuestion">Question</a>
                    <a href="/addCollege">College</a>
                </div>
            </div>
            <a href="/adminLandoverPage">Welcome</a>            
        </div>
    </header>

    <form class="adminform" method="POST" action="/addQuestion">
        <legend>CREATE A QUESTION</legend>
        <div class="form-group">
            <label for="exampleFormControlInput1">Question</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="question" autocomplete="off" placeholder="Enter the question ">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Option 1</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="option1" autocomplete="off" placeholder="Enter option 1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Option 2</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="option2" autocomplete="off" placeholder="Enter option 2">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Option 3</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="option3" autocomplete="off" placeholder="Enter option 3">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Option 4</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="option4" autocomplete="off" placeholder="Enter option 4">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Correct option</label>
            <select class="form-control" id="exampleFormControlSelect1" name="correct_option">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Level of question</label>
            <select class="form-control" id="exampleFormControlSelect1" name="level">
                <option value="easy">EASY</option>
                <option value="medium">MEDIUM</option>
                <option value="hard">HARD</option>
            </select>      
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</body>
</html>