<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>PRACTEST</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="/cssFiles/first.css"> 
    <style>
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  height:110%;
  position: relative;
  margin: auto;
}

/* Caption text */
.slider_text {
  color:white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  font-weight:bolder;
  text-align: center;
  z-index:1;

}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display:none;
}

/* The dots/bullets/indicators */
.dot {
display:none;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.slider_text button{
    border: none;
    outline: none;
    height: 50px;
    width:100px;
    background:#00aff0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}

.slider_text button:hover{
    cursor: pointer;
    color:white;
    opacity: .7;
    
}
</style>
</head>

<body bgcolor="white">
	<header>
		<a href="index.html"><img src="images/practest-Logo.jpg" alt="myLogo" id="top-logo" ></a>
		<div class="navbar">
      <a href="/adminlogin">Admin Login</a>
			<a href="/studentLogin">Student Login</a>
			<a href="/studentRegistration">Register</a>
  			<a href="/">Home</a>  			
		</div>
	</header>

	<div id="home">
		<div>
<div class="slideshow-container">
  <div class="slider_text" >
  <h2 style="font-size:40px">GET YOUR DREAM JOB.</h2>
  <h4 style="font-size:20px; ">practest helps you in bridging the gap between where you are and where you want to be.</h4>
  <a href="/studentLogin"><button> SIGN IN</button></a>
</div>
<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="slider1.jpg" style="width:100%">
  
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="slider2.jpg" style="width:100%">
 
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="slider3.jpg" style="width:100%">
  
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
</div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 3 seconds
}
</script>

	</div>
	<!-- /Home -->
	<footer style="margin-top:0;">
		<center><h1 style="color: white; padding-top:20px;" id="contactus">Contact Us</h1></center>
		 <div class="myfooter">
            <ul style="padding-left:60px;">
                <li><span style="color: white;"><i class="fa fa-map" style="color: white;"></i>&nbsp; Address</span><br>
                    <span ><a href="https://goo.gl/maps/qCbfX24fnrQ2">#132, AECS Layout, IT Park Road Bengaluru- 560037</a></span><br><span style="color: white;"><i class="fa fa-mobile" style="color: white;"></i>&nbsp; Phone</span><br><a  href="tel:9900112255">+91-9900112255</a></span><br><span style="color: white; "><i class="fa fa-envelope" style="color: white;"></i>&nbsp; Email</span><br><span ><a  href="mailto:support@findyourpractest.com">support@findyourpractest.com</a></span><br></li>
                <li><span><a style="color: white;" href="#">Follow us on:<br> <a style="color: white;" href="#"><i class="fa fa-facebook" style="color: white;"></i>  facebook.com/practest</a> <br><a style="color: white;" href="#"><i class="fa fa-twitter" style="color: white;"></i> twitter.com/practest</a><br><a style="color: white;" href="#"><i class="fa fa-snapchat-ghost" style="color: white;"></i> snapchat.com/practest</a><br><a style="color: white;" href="#"><i class="fa fa-linkedin" style="color: white;"></i> linkedin.com/practest</a></span>
                </li>
                <li><span><a style="color:white;">15CSL77</a><br><a style="color:white;">Mini Project</a><br><a style="color:white;">Submitted By</a><br><a>Akanksha Mishra</a><br><a >Adarsh Sharma</a><br><a>Kartik Kashyap</a></span></li>
            </ul>
        </div>
        <br>
	</footer>
	
</body>

</html>