<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIEW RESULTS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/cssFiles/studentRegistration.css">
    <link rel="stylesheet" href="/cssFiles/adminPage.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="images/Tribe-Logo.jpg" alt="myLogo" id="top-logo"></a>
        <div class="mynavbar">
            <a href="/logout">Logout</a>
            <a href="/adminLandoverPage">View results</a>       
            <div class="mydropdown">
                <button class="mydropbtn">Add 
                </button>
                <div class="mydropdown-content">
                    <a href="/addtest">Test</a>
                    <a href="/addQuestion">Question</a>
                    <a href="/addCollege">College</a>
                </div>
            </div>
            <a href="/adminLandoverPage">Welcome</a>            
        </div>
    </header>
    <form action="/fetchCollegeResults" method="POST">
        <div class="form-group">

            <label for="exampleFormControlSelect1">Select college</label>
        <select class="form-control" id="exampleFormControlSelect1" name="cid">
              <%list.forEach(function(college){%>
                <option value=<%=college[0]%>><%=college[1]%></option>
              <%})%> 
        </select>
        </div>
        <input type="submit" value="yo">
        
    </form>
    
</body>
</html>