.question-box{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 10px rgba(13, 104, 28, 0.7);
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

}
body{
    background-color: rgb(41, 179, 48);
    margin:0
}
.submit-button{
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    position: absolute;
    left: 50%;
}
.option{
    margin-top: 20px;
}

header, footer{
	background-color:#28328c;
}
footer{
	padding-bottom: 0px;
}
header{
    position:fixed;
    width:100%;
    height:10%;
    top:0;
}
#time{
    color:white;
    font-weight:bold;
    font-size:28px;
    float:right;
    margin-right:2%; 
    margin-top:1%;  
    border:white 2px dashed;
    padding:4px; 
}
